:root {
    --shuttle-gray-50: #f7f8f8;
    --shuttle-gray-100: #edeef1;
    --shuttle-gray-200: #d7dae0;
    --shuttle-gray-300: #b5bac4;
    --shuttle-gray-400: #8c94a4;
    --shuttle-gray-500: #6e7789;
    --shuttle-gray-600: #60687b;
    --shuttle-gray-700: #484e5c;
    --shuttle-gray-800: #3e424e;
    --shuttle-gray-900: #373b43;
    --shuttle-gray-950: #24262d;
  }